<section id="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-md-6">
        <div class="w-100 mt-3">
          <mdb-card>
            <mdb-card-img src="assets/images/signin.jpg" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h3 class="text-center bold">Accesar</h3>
              </mdb-card-title>
              <mdb-card-text class="px-4">
                <!-- <form action=> -->
                  <div class="md-form">
                    <input mdbInput type="text" id="email" class="form-control">
                    <label for="email">E-mail</label>
                  </div>
                  <div class="md-form">
                    <input mdbInput type="text" id="pass" class="form-control">
                    <label for="pass">Senha</label>
                  </div>
                  <div class="md-form">
                    <button type="button" mdbBtn color="success" 
                     class="btn-block" mdbWavesEffect>Entrar</button>
                  </div>
                <!-- </form> -->
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</section>