/* You can add global styles to this file, and also import other style files */

/* Bold */
.bold { font-weight: bolder; }
.b-8 { font-weight: 800; }
.b-7 { font-weight: 700; }
.b-6 { font-weight: 600; }
.b-5 { font-weight: 500; }
.b-4 { font-weight: 400; }
.lighter { font-weight: lighter; }

/* Size*/
.f-07 { font-size: .7rem; }
.f-08 { font-size: .8rem; }
.f-09 { font-size: .9rem; }
.f-12 { font-size: 1.2rem; }
.f-13 { font-size: 1.3rem; }
.f-15 { font-size: 1.5rem; }
.f-20 { font-size: 2rem; }
.f-25 { font-size: 2.5rem; }